@if(isAddingTask)
{
    <app-new-task (cancel)="onCancelAddTask()" (add)="onAddTask($event)"/>
}

<section id="tasks">
    <header>
        <h2>{{ name }}'s Tasks</h2>
            <menu>
                <!-- <button (click)="onAddTask()">Add Task</button> -->
                <button (click)="onStartAddTask()">Add Task</button>
                <!-- <button (click)="onAddTask()">Add Task</button>
                <button (click)="onDeleteTask()">Delete Task</button> -->
            </menu>
    </header>

    <ul id="tasks-list">
        @for (task of selectedUserTasks; track task.id) {
            <li>
                <app-task [task]="task" (complete)="onCompleteTask($event)"/>
            </li>
        }
    </ul>
</section>
